<div class="modal-body">
<%= form_with(model: [@prescription, @medicine],url: [@prescription, @medicine],local: false ) do |form| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this @medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6>薬品名：</h6>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <h6>用法：</h6>
    <%= form.text_field :usage %>
  </div>

  <div class="field">
    <h6>処方日数：</h6>
    <%= form.number_field :days %>
  </div>

  <div class="field">
    <h6>用量(/1日あたり)：</h6>
    <%= form.text_area :dose %>
  </div>

  <div class="field">
    <h6>効能：</h6>
    <%= form.text_area :effect %>
  </div>

  <div class="field">
    <h6>副作用：</h6>
    <%= form.text_area :side_effect %>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= form.submit %>
  </div>
<% end %>
<div>