<% @medicines.each_with_index do |medicine,i| %>
  <div class="card"   data-model_name="<%= medicine.model_name.singular %>"
  data-id="<%= medicine.id %>">
    <div class="card-body">
      <h6><%= "#{i+1})#{medicine.name}" %>,<%= medicine.dose %></h6>
      <h6><%= medicine.usage %>,<%= medicine.days %>日分</h6>
      <h6><%= medicine.effect %></h6>
      <h6><%= medicine.side_effect %></h6>    

      <div class="btn-group">
        <button type="button" class="btn btn-outline-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tool
        </button>
        <div class="dropdown-menu dropdown-menu-right text-middle">
          <%= link_to "Edit", edit_prescription_medicine_path(medicine.prescription, medicine), class: "dropdown-item", remote: true %>
          <%= link_to "Delete", prescription_medicine_path(medicine.prescription, medicine), method: :delete, class: "dropdown-item text-danger", remote: true, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>

<% end %>