<% @medicines.each_with_index do |medicine,i| %>
  <div class="card text-light my-2 mx-auto"  data-model_name="<%= medicine.model_name.singular %>"
  data-id="<%= medicine.id %>" style="max-width:740px; 
  <% if medicine.medicine_type == "normal"%>
    background: rgba(0,123,255,0.6); 
  <% elsif medicine.medicine_type == "when" %>
    background: rgba(146, 194, 146, 0.80);
  <% else %>
    background: rgba(173, 112, 112, 0.8); 
  <% end %> ">
  
    <div class="card-body">
      <div class="p-1 pl-3 col-11 border" style="background: rgba(255, 255, 255, 0.2); margin: -13px 0 7px -15px ; border-radius: 20px;">
        <h6>Rp.<%= "#{i+1})" %></h6>
        <h6> <strong><%= "#{medicine.name}" %></strong></h6>
      </div>

      <div class="dropdown position-absolute" style="top: 10px; right: 10px;">
        <button type="button" class="btn btn-outline-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right text-middle" aria-labelledby="dropdownMenuButton">
          <%= link_to "編集", edit_prescription_medicine_path(medicine.prescription, medicine), class: "dropdown-item", remote: true %>
          <%= link_to "削除", prescription_medicine_path(medicine.prescription, medicine), method: :delete, class: "dropdown-item text-danger", remote: true, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>

      <% if medicine.medicine_type == "normal" %>
        <!--残薬表記-->
        <div id="remaind<%=medicine.id%>" >
          <%= render "checkers/remaind",medicine: medicine %>
        </div>

        <h6 class="pr-5">1日
          <% if medicine.dose - medicine.dose.to_i <= 0 %>
            <%= medicine.dose.to_i%>
          <% else %>
            <%= medicine.dose %>
          <% end %>
          <%= medicine.detail_type %> <%= medicine.usage %> <%= medicine.days %>日分</h6>
        <h6>薬効：<%= medicine.effect %></h6>
        <h6>副作用：<%= medicine.side_effect %></h6>
        <% if medicine.free_comment.present? %>
          <h6>その他の記録または注意：<%= medicine.free_comment %></h6>
        <% end %>

      <% elsif medicine.medicine_type == "when" %> 
        <!--残薬表記-->
        <div id="remaind<%=medicine.id%>" >
          <%= render "checkers/remaind",medicine: medicine %>
        </div>

        <h6 class="pr-5"><%= medicine.usage %>1回
          <% if medicine.dose - medicine.dose.to_i <= 0 %>
            <%= medicine.dose.to_i%>
          <% else %>
            <%= medicine.dose %>
          <% end %>
          <%= medicine.detail_type %> <%= medicine.days %>回分</h6>
        <h6>薬効：<%= medicine.effect %></h6>
        <h6>副作用：<%= medicine.side_effect %></h6>
        <% if medicine.free_comment.present? %>
          <h6>その他の記録または注意：<%= medicine.free_comment %></h6>
        <% end %>

      <% elsif medicine.medicine_type == "external" %>    
        <!--残薬表記-->
        <div id="remaind<%=medicine.id%>" >
          <%= render "checkers/remaind",medicine: medicine %>
        </div>

        <h6 class="pr-5"><%= medicine.usage %> 1日
        <% if medicine.dose == nil %>
          数
        <% else %>
          <% if medicine.dose - medicine.dose.to_i <= 0 %>
            <%= medicine.dose.to_i%>
          <% else %>
            <%= medicine.dose %>
          <% end %>
        <% end %>
        
        回 全<%= medicine.days %><%= medicine.detail_type %></h6>
        <h6>薬効：<%= medicine.effect %></h6>
        <h6>副作用：<%= medicine.side_effect %></h6>
        <% if medicine.free_comment.present? %>
          <h6>その他の記録または注意：<%= medicine.free_comment %></h6>
        <% end %>
      <% end %>

    </div>
      <button class="btn btn-secondary"
        data-toggle="collapse"
        data-target="#remainder<%=medicine.id%>"
        aria-expand="false"
        aria-controls="remainder<%=medicine.id%>"><span class="fa	fa-calendar-check"></span> 服薬チェッカー</button>
      <%= render "medicines/remainder",medicine: medicine %>
  </div>

<% end %>