<% post.comments.each do |comment| %>
    <div class="card bg-light">
        <div class="card-content py-3 px-2">
            <%= comment.content %>
        </div>
        <div class="card-footer">
            <%= comment.user.name %><br>
            <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
            <div class="position-absolute" style="bottom: 4px; right: 10%;">
                <%= link_to "削除", comment_path(comment),  method: :delete,remote: true, class: "btn btn-outline-danger px-md-5", data: { confirm: '削除すると内容は戻りません。本当に削除しますか？' } %>
            </div>

        </div>
    </div>
<% end %>
<div id="newComment<%= post.id %>" class="py-2">
    <%= image_tag 'pic/mail_ab.gif' %>
    <%= link_to "  内容を投稿", new_comment_path(post_id: post.id),remote: true, class:"btn btn-primary" %>
</div>