<% post.comments.each do |comment| %>
    <div class="card bg-light">
        <div class="card-content py-3 px-2">
            <%= simple_format(comment.content) %>
        </div>
        <div class="card-footer">
            <span class="rounded p-2 text-light
                <% if comment.user == current_user %>
                bg-success
                <% else %>
                bg-danger
                <% end %>">
                <%= comment.user.name %>
            </span>
            <br>
            <p class="mb-0 mt-2"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
            <div class="position-absolute" style="bottom: 4px; right: 7%;">
                <%= link_to "削除", comment_path(comment),  method: :delete,remote: true, class: "btn btn-outline-danger px-md-5", data: { confirm: '削除すると内容は戻りません。本当に削除しますか？' } %>
            </div>

        </div>
    </div>
<% end %>
<div id="newComment<%= post.id %>" class="py-2">
    <%= link_to new_comment_path(post_id: post.id),remote: true, class:"btn btn-primary" do %>
        <span class="fa fa-pen">内容を書く</span>
    <% end %>
</div>