<div class="">

<%= form_with(model: prescription, remote: true) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= "調剤日" %>
    <%= form.date_field :start_time  %>
  </div>

  <div class="">
    <%= "処方日" %>
    <%= form.date_field :visit_date %>
  </div>

  <div class="field">
    <%= form.label :hospital %>
    <%= form.text_field :hospital %>
  </div>

  <div class="field">
    <%= form.label :doctor %>
    <%= form.text_field :doctor %>
  </div>

  <div class="field">
    <%= form.label :pharmacy %>
    <%= form.text_field :pharmacy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>