<div class="">

<%= form_with(model: prescription) do |form| %>
  <% prescriptions = current_user.prescriptions %>

  <div class="field row">
    <%= "調剤日(薬局でお薬をもらった日)：　" %>
    <%= form.date_field :start_time  %>
    <% if prescription.errors.include?(:start_time) %>
      <p style="color: red;"><%= prescription.errors.full_messages_for(:start_time).first %>
    <% end %>
  </div>

  <div class="field row" >
    <%= "処方日(病院を受診した日)：　" %>
    <%= form.date_field :visit_date  %>
    <% if prescription.errors.include?(:visit_date) %>
      <p style="color: red;"><%= prescription.errors.full_messages_for(:visit_date).first %>
    <% end %>  
  </div>

  <div class="field border p-3">
    <%= "医療機関(総合病院は診療科まで)：" %><br>
    <button type="button" class="btn btn-info m-2 p-1 " id="hospitalBtn" data-toggle="collapse" data-target="#collapsehospital" aria-expanded="false" aria-controls="collapsehospital">
      新規で入力する
    </button>
    <div class="collapse" id="collapsehospital">
      <%= form.text_field :hospital, :placeholder => "", id: "m_hospital",disabled: true %>
    </div>
    <%= form.collection_select(:hospital, prescriptions.group(:hospital).order(id: :desc), :hospital ,:hospital,{ prompt: "過去に受診した病院"}, id: "s_hospital" ) %>
    <% if prescription.errors.include?(:hospital) %>
      <p style="color: red;"><%= prescription.errors.full_messages_for(:hospital).first %>
    <% end %>  
  </div>


  <div class="field border p-3">
    <%= "処方医師：" %><br>
        <button type="button" class="btn btn-info m-2 p-1" id="doctorBtn" data-toggle="collapse" data-target="#collapsedoctor" aria-expanded="false" aria-controls="collapsedoctor">
      新規で入力する
    </button>
    <div class="collapse" id="collapsedoctor">
      <%= form.text_field :doctor, id: "m_doctor",disabled: true %>
    </div>
      <%= form.collection_select(:doctor, prescriptions.group(:doctor).order(id: :desc), :doctor,:doctor,{ prompt: "過去に処方した医師"}, id: "s_doctor" ) %>
    <% if prescription.errors.include?(:doctor) %>
      <p style="color: red;"><%= prescription.errors.full_messages_for(:doctor).first %>
    <% end %>  
  </div>


  <div class="field border p-3">
    <%= "調剤薬局：" %><br>
        <button type="button" class="btn btn-info m-2 p-1" id="pharmacyBtn" data-toggle="collapse" data-target="#collapsepharmacy" aria-expanded="false" aria-controls="collapsepharmacy">
      新規で入力する
    </button>
    <div class="collapse" id="collapsepharmacy">
      <%= form.text_field :pharmacy, id: "m_pharmacy",disabled: true %>
    </div>
      <%= form.collection_select(:pharmacy, prescriptions.group(:pharmacy).order(id: :desc), :pharmacy,:pharmacy,{ prompt: "過去に調剤した薬局" } ,id: "s_pharmacy" ) %>
    <% if prescription.errors.include?(:pharmacy) %>
      <p style="color: red;"><%= prescription.errors.full_messages_for(:pharmacy).first %>
    <% end %>  
  </div>


  <div class="actions" style="margin:0 40%;">
    <%= form.submit %>
  </div>
<% end %>

</div>