<% @prescriptions.order(start_time: "DESC").each do |prescription| %>
    <%= link_to prescription ,class:"card my-3 btn btn-light p-0",style:"opacity:0.8;" do%>
    <div class="prescriptionList">
        <div class="card-header text-left" >
            <%= "#{prescription.start_time.strftime("%Y年%m月%d日")}調剤" %>
        </div>
        <div class="card-body text-left" >
            <div class="position-absolute" style="bottom: 65px; right: 20px;">
                <%= render "prescriptions/remaind" ,medicines: prescription.medicines %>
            </div>

            <blockquote class="blockquote mb-0">
                <h4><span class="fa fa-hospital"></span>  <%= prescription.hospital %></h4>
                <h4><span class="fa	fa-user-md"></span>  <%= prescription.doctor %> 医師</h4>
            </blockquote>
        </div>

        <div class="card-footer bg-secondary text-light text-center">
            <% if prescription.medicines.where(medicine_type: "normal").present? %>
                <span class="fa fa-pills p-2 border border-light rounded-pill" style="background: rgba(0,123,255,0.6);"></span>　<%= prescription.medicines.where(medicine_type: "normal").length %>　
            <% end %>

            <% if prescription.medicines.where(medicine_type: "when").present? %>
                <span class="fa fa-pills p-2 border border-light rounded-pill" style="background: rgba(146, 194, 146, 0.80);"></span>　<%= prescription.medicines.where(medicine_type: "when").length %>　
            <% end %>

            <% if prescription.medicines.where(medicine_type: "external").present? %>
                <span class="fa fa-pills p-2 border border-light rounded-pill" style="background: rgba(173, 112, 112, 0.8);"></span>　<%= prescription.medicines.where(medicine_type: "external").length %>　
            <% end %>

            <% unless prescription.medicines.present? %>
                お薬の登録なし
            <% end %>
        </div>

    </div>
    <% end %>
<% end %>

<% unless @prescriptions.present? %>
    <div class="text-center">
        <h6>記録がまだありません</h6>
        <h6>お薬をもらったら記録をしよう！</h6>
        <%= link_to '処方追加', new_prescription_path , class: "btn btn-outline-info mb-5" %>
    </div>
<% end %>