<p id="notice"><%= notice %></p>

<h1>Prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Visit date</th>
      <th>Hospital</th>
      <th>Doctor</th>
      <th>Pharmacy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.start_time %></td>
        <td><%= prescription.visit_date %></td>
        <td><%= prescription.hospital %></td>
        <td><%= prescription.doctor %></td>
        <td><%= prescription.pharmacy %></td>
        <td><%= link_to 'Show', prescription %></td>
        <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
        <td><%= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_prescription_path %>
