<div class="row m-0">
  <%= render "users/sidemenu" %>
  <div class="col border m-4" style="border-radius: 10px;" >
    <div class="border m-4 p-3 bg-light" style="border-radius: 10px; font-size:20px;">
      <p style="">
        <strong>調剤日(薬局でお薬をもらった日):</strong>
        <%= @prescription.start_time.strftime("%Y年%m月%d日") %>
      </p>

      <p style="">
        <strong>処方日(病院を受診した日):</strong>
        <%= @prescription.visit_date.strftime("%Y年%m月%d日") %>
      </p>
    </div>

    <div class="border m-4 p-3 bg-light" style="font-size:30px;border-radius: 10px;">
      <p>
        <strong>医療機関(診療科):</strong><br>
        <%= @prescription.hospital %>
      </p>
    </div>

    <div class="border m-4 p-3 bg-light" style="border-radius: 10px;">
      <p>
        <strong>処方医師:</strong>
        <%= @prescription.doctor %>
      </p>


      <div id="medicineModal">
      </div>

      <h6>◆処方内容◆</h6>
      <div id="medicineList">
        <%= render "medicines/show",prescription: @prescription %>
      </div>
      
  </div>

  <p style="font-size:20px;">
    <strong>調剤薬局:</strong>
    <%= @prescription.pharmacy %>
  </p>

  <%= link_to "new medicine",new_prescription_medicine_path(@prescription), remote: true %><br>
  <%= link_to 'Destroy', prescription_path(@prescription), method: :delete, data: { confirm: 'Are you sure?' } %><br>


  <%= link_to 'Edit', edit_prescription_path(@prescription) %> |
  <%= link_to "ユーザー詳細へ戻る", user_path(current_user) %>

</div>
</div>