<div class="row m-0">
  <%= render "users/sidemenu" %>
  <div class="col" >
  <p>
    <strong>Start time:</strong>
    <%= @prescription.start_time %>
  </p>

  <p>
    <strong>Visit date:</strong>
    <%= @prescription.visit_date %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= @prescription.hospital %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= @prescription.doctor %>
  </p>

  <p>
    <strong>Pharmacy:</strong>
    <%= @prescription.pharmacy %>
  </p>

  <div id="medicineModal">
  </div>
  <div id="medicineList">
    <%= render "medicines/show" %>
  </div>

  <%= link_to "new medicine",new_prescription_medicine_path(@prescription), remote: true %>



  <%= link_to 'Edit', edit_prescription_path(@prescription) %> |
  <%= link_to "ユーザー詳細へ戻る", user_path(current_user) %>

</div>
</div>