<div class="row m-0 main-bg">
  <%= render "users/sidemenu" %>

  <div class="col border m-md-2 m-lg-4 p-1" style="background: rgba(255, 255, 255, 0.5); border-radius: 10px;" >
    <div class="border m-1 m-lg-4 p-md-3 bg-light" style="border-radius: 10px; font-size:20px;">

      <% if current_user.prescriptions.where("id < ?", @prescription.id).order("id DESC").first.present? %>
        <%= link_to  prescription_path(current_user.prescriptions.where("id < ?", @prescription.id).order("id DESC").first), class: "btn btn--circle btn--circle-c btn--shadow position-absolute",style:"left: 5px; top:50px;" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      <% end %>

      <% if current_user.prescriptions.where("id > ?", @prescription.id).order("id ASC").first.present? %>
        <%= link_to prescription_path(current_user.prescriptions.where("id > ?", @prescription.id).order("id ASC").first), class: "btn btn--circle btn--circle-c btn--shadow position-absolute",style:"right: 5px; top:50px;" do %>
          <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>

      <p style="">
        <strong>調剤日(薬局でお薬をもらった日):</strong>
        <%= @prescription.start_time.strftime("%Y年%m月%d日") %>
      </p>

      <p style="">
        <strong>処方日(病院を受診した日):</strong>
        <%= @prescription.visit_date.strftime("%Y年%m月%d日") %>
      </p>
    </div>

    <div class="border m-1 m-lg-4 p-3 bg-light" style="font-size:22px; border-radius: 10px;">
      <p >
        <strong>医療機関(診療科):</strong><br>
        <%= @prescription.hospital %>
      </p>
    </div>

    <div class="border m-1 m-lg-4 py-3 px-lg-3 p-1 bg-light" style="font-size:20px; border-radius: 10px;">
      <p class="px-3 px-lg-0" >
        <strong>処方医師:</strong>
        <%= @prescription.doctor %>
      </p>


      <div id="medicineModal">
      </div>

      <h6>◆処方内容◆</h6>
      <div id="medicineList">
        <%= render "medicines/show",prescription: @prescription %>
      </div>
        <%= link_to "この処方にお薬を記録",new_prescription_medicine_path(@prescription), remote: true ,class: "btn btn-outline-info" %><br>
      
  </div>

  <div class= "m-1 m-lg-4 p-3">
    <p class="text-right" style="font-size:20px;">
      <strong>調剤薬局:</strong>
      <%= @prescription.pharmacy %>
    </p>

    <%= link_to '処方元の記録変更', edit_prescription_path(@prescription), class: " btn btn-outline-primary " %>
    <%= link_to '処方記録を削除する', prescription_path(@prescription), method: :delete, data: { confirm: '削除した記録は戻りませんが削除してよろしいですか？' } , class: " btn btn-outline-danger "%>





    <div class="text-right">
      <%= link_to "ユーザーページへ戻る", user_path(current_user) %>
    </div>
  </div>

</div>