<nav class="calendar1 navbar border navbar-light p-1 " style="background: rgba(255, 255, 255, 0.5); border-radius: 10px;" >
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <%= month_calendar events: @calendars do |date, calendars| %>
            <%= date.day %><br>
                <% calendars.each do |calendar| %>
                    <% medicines = calendar.medicines %>
                    <% x = 0 %>
                    <% remainds = [] %>

                    <% medicines.each do |medicine| %>
                        <% if medicine.medicine_type == "external" %> 
                            <% remaind = medicine.days - medicine.checkers.sum(:dose) %>
                        <% else %>
                            <%if medicine.times %>
                                <% remaind = medicine.dose*medicine.days - medicine.checkers.length*medicine.dose/medicine.times %>
                            <% else %>
                                <% remaind = medicine.dose*medicine.days - medicine.checkers.length*medicine.dose %>
                            <% end %>
                        <% end %>

                        <% remainds[x] = remaind %>
                        <% x+= 1 %>
                    <% end %>



                    <%= link_to  calendar,class:"btn tab-btn
                    #{ if remainds.sum <= 0
                        "btn-success"
                    else
                        "btn-danger"
                    end}
                    border-white",data:{toggle:"tooltip"} ,title:"#{Prescription.find_by(id: calendar.id).hospital}" do %>
                        <span class="fa fa-hospital-alt tab-icon"></span>
                    <%end%>
                <% end %>
        <% end %>
    </div>

    <div class="navbar-toggler mx-auto p-0 btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="height:30px; opacity:0.4;">
        <span class="fa fa-bars px-5 py-1" ></span>
    </div>
</nav>

<div class="calendar2" style="background: rgba(255, 255, 255, 0.5); border-radius: 10px;">
    <%= month_calendar events: @calendars do |date, calendars| %>
        <%= date.day %><br>
            <% calendars.each do |calendar| %>
                <% medicines = calendar.medicines %>
                <% x = 0 %>
                <% remainds = [] %>

                <% medicines.each do |medicine| %>
                    <% if medicine.medicine_type == "external" %> 
                        <% remaind = medicine.days - medicine.checkers.sum(:dose) %>
                    <% else %>
                        <%if medicine.times %>
                            <% remaind = medicine.dose*medicine.days - medicine.checkers.length*medicine.dose/medicine.times %>
                        <% else %>
                            <% remaind = medicine.dose*medicine.days - medicine.checkers.length*medicine.dose %>
                        <% end %>
                    <% end %>

                    <% remainds[x] = remaind %>
                    <% x+= 1 %>
                <% end %>

                <%= link_to  calendar,class:"btn 
                #{ if remainds.sum <= 0
                    "btn-success"
                else
                    "btn-danger"
                end} tab-btn border-white",data:{toggle:"tooltip"} ,title:"#{Prescription.find_by(id: calendar.id).hospital}" do %>
                    <span class="fa fa-hospital-alt tab-icon"></span>
                <%end%>
            <% end %>
    <% end %>
</div>