<div class="row m-0">
    <%= render "users/sidemenu" %>

    <div class="col-lg-6 ml-lg-3">
        <h1>お薬の記録一覧</h1>
        <%= link_to "処方", prescriptions_path %>
        <% current_user.prescriptions.order(start_time: "DESC").each do |prescription| %>
            <div class="card my-1 ml-lg-3" >
                    <%= link_to "#{prescription.start_time.strftime("%Y年%m月%d日")}調剤", prescription, class:"card-header btn btn-light text-left" %>
                <div class="card-body" >
                    <blockquote class="blockquote mb-0">
                    <p><%= prescription.hospital %></p>
                    <footer class="blockquote-footer"><%= prescription.doctor %></footer>
                    </blockquote>
                </div>
            </div>
        <% end %>

    </div>
</div>