<% if @week && @checked %>
    <% medicine = Medicine.find_by(id: @week.to_i) %>
    <% date = @checked %>
<% end%>

<div id="<%= medicine.id %>check<%= date %>" class="text-center">

    <% if medicine.medicine_type == "normal" %>
        <!-- 内服薬の時は回数ごとに表示が変わる -->
        <% n = medicine.times %>
    <% elsif medicine.medicine_type == "when" %>
        <!-- 頓服薬の時は1日５回数固定 -->
        <% n = 5 %>
    <% else %>
        <!-- 外用薬の時は1日3回に固定 -->
        <% n = 1 %>
    <% end %>

        <% for i in 1..n do %>

            <%if medicine.checkers.where(timing: i).find_by(check_date: date) %>
                <% medicine.checkers.where(timing: i).where(check_date: date).each do |checker| %>
                    <%= link_to prescription_checker_path(@prescription, checker), method: :delete, remote: true,class: "btn btn-danger rounded-circle mt-1 mx-0",style:"margin-bottom:-4px;", id:"#{medicine.id}btn#{date}#{i}" do%>
                        <span class="fa fa-check-square"></span>
                    <%end%>
                    <h6><%= checker.dose %></h6>
                <%end%>
            <% else %>
                <%= form_with(url: prescription_checkers_path(@prescription, medicine.checkers),local: false  ) do |f| %>
                        <input type="hidden" name="medicine_id" value="<%= medicine.id %>">
                        <input type="hidden" name="timing" value="<%=i%>">
                        <input type="hidden" name="check_date" value="<%= date %>">
                        <div class="actions" id="<%=medicine.id%>btn<%= date %><%=i%>" >
                            <button type="submit" class="btn btn-success px-2 my-1">
                                <span class="fas fa-pills" style=""></span>
                            </button>
                        </div>

                    <% if medicine.medicine_type == "external" %>
                        <%= f.number_field :dose, step: "0.01", style:"width:100%", min:"0" %>
                    <% end %>
                <% end %>
            <% end %>

        <% end %>
    

</div>