<% if user_signed_in? %>
    <nav class="drawer-nav" role="navigation" style="z-index: 100000000;">
        <ul class="drawer-menu drawer-menu--right">
            <button type="button" class="drawer-toggle btn btn-outline-warning">
                <span class="fa fa-bell" style="font-size:30px;"></span>
            </button>
            <div id="notiList">
                <%= render "notifications/notiList" %>
            </div>
        </ul>
    </nav>
<% end %>

<nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark" style="user-select: none;" >
    <% if user_signed_in? && @notifications.find_by(checked: false) %>
        <div class="bg-danger text-light position-absolute text-center rounded-circle" id="drawer-btn" style="top: 6px; right: 57px; height: 22px; width:22px; z-index: 10; line-height: 20px;">
            <%= render "layouts/drawer" %>
        </div>
    <% end %>
    <%= link_to 'Medicine App', root_path, class: "homeLogo btn btn-outline-light" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
            <% if user_signed_in? %>
                <% if current_user.admin? %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admins">管理者ページ</a>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "お薬ページ", user_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'お問い合わせ', user_posts_path(current_user), class: "nav-link" %>
                </li>
            <li class="nav-item">

            </li>
            <% end %>
        </ul>
        
        <% if user_signed_in? %>
            <div class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle text-light btn btn-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.name %>
                </a>
                <div class="dropdown-menu p-1" aria-labelledby="navbarDropdown">
                    <div class="dropdown-divider"></div>
                        <%= link_to 'プロフィール変更', edit_user_registration_path, class: "dropdown-item" %>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,data: {confirm:  "本当にログアウトしますか？"} ,class: "dropdown-item bg-danger text-light rounded" %>
                </div>
            </div>


            <div class="text-right">
                <button type="button" class="drawer-toggle btn btn-outline-warning">
                    <span class="fa fa-bell" style="font-size:30px;"></span>
                </button>
            </div>
            
        <% else %>
            <div class="text-right nav-link">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">ログイン</button>
            </div>
            <div class="text-right nav-link">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signupModal">サインアップ</button>
            </div>
        <% end %>
    </div>
</nav>