<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicineApp</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

  </head>

  <body class="drawer drawer--right">
    <div id="loader-bg">
      <div id="loader">
        <img src="top/img-loading.gif" width="80" height="80" alt="Now Loading..." />
        <p>Now Loading...</p>
      </div>
    </div>
    <div id="wrap">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <div id="modalArea"><%= render "layouts/modal" %></div>
      <main>
        <div class="container-fruid h-100">
          <%= yield %>
          <div id="page_top"><a href="#" class="rounded-pill border border-white">ページ上部へ戻る</a></div>
        </div>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
